.nav-segment {
    display: flex;
    border: none !important;
    box-shadow: none !important;
    width: 85%;
    margin: 0 auto !important;
    padding: 0 !important;
}

.cart-model {
    padding: 40px;
}